## Pandas Essentials

In [25]:
import pandas as pd
import numpy as np

# Create a random flights data CSV file
# np.random.seed(0)
num_records = 100

AIRLINES = [
    "PIA",
    "Qatar Airways",
    "Emirates",
    "Japan Airways",
    "American Airline",
    "Tata Airline",
    "Saudi Airline",
]

CITIES = [
    "Dubai",
    "Delhi",
    "Karachi",
    "Riyadh",
    "Mecca",
    "Medina",
    "Kuwait",
    "Lahore",
    "Colombo",
    "Dhaka",
    "Sharjah",
    "Mumbai",
    "Auckland",
    "Alaska",
    "San Francisco",
    "Washington",
]

In [26]:
flights_data = {
    "FlightID": np.arange(1, num_records + 1),
    "Airline": np.random.choice(AIRLINES, num_records),
    "Destination": np.random.choice(CITIES, num_records),
    "Duration": np.random.randint(60, 360, num_records),  # Duration in minutes
    "Delay": np.random.randint(0, 120, num_records),  # Delay in minutes
}

flights_df = pd.DataFrame(flights_data)
flights_df.to_csv("random_flights_data.csv", index=False)

In [27]:
# Read the CSV file using pandas
flights_df = pd.read_csv("random_flights_data.csv")

# Display the first few rows of the dataframe
display(flights_df.head())

   FlightID           Airline Destination  Duration  Delay
0         1      Tata Airline       Mecca       342    114
1         2          Emirates       Dubai       266     57
2         3          Emirates       Dubai        92     91
3         4  American Airline  Washington       175     89
4         5     Saudi Airline     Sharjah       238      3

In [28]:
# Perform operations on the data
# Example: Calculate the average duration and delay for each airline
average_stats = flights_df.groupby("Airline")[["Duration", "Delay"]].mean()
display(average_stats)

display(f"Max Delay: {average_stats['Delay'].max()} minutes")
display(f"Max Duration: {average_stats['Duration'].max()} minutes")

                    Duration      Delay
Airline
American Airline  181.600000  71.600000
Emirates          219.769231  64.538462
Japan Airways     181.230769  73.307692
PIA               226.357143  47.285714
Qatar Airways     249.684211  65.157895
Saudi Airline     214.928571  64.928571
Tata Airline      196.416667  67.833333

'Max Delay: 73.3076923076923 minutes'

'Max Duration: 249.68421052631578 minutes'